.listButtonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.productCard {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    cursor: pointer;
}

.wrapperContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.selectedProduct {
    height: 100%;
    width: 100%
}

.listWrapper {
    height: 100%;
    width: 100%;

}